@import 'styles/global.css';
@import 'styles/nav.css';
@import 'styles/form.css';
@import 'styles/flashMessage.css';
@import 'styles/currency.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}