* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    width: 100%;
    height: 100%;
}
body {
    font-family: sans-serif;
    font-size: 12px;
    background-color: #222;
}
.content{
    background: white;
}
.banner {
    height: 80px;
    position: relative;
    width: 100%;
    background-color: #222;
    color: white;
    padding: 16px 0 4px 4px;
}

.title p {
    text-transform: capitalize;
}

.banner-links {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: inline-flex;
}
.banner-links a {
    color: inherit;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3px
}
.banner-links a p {
    font-weight: 600;
}
.banner-links a span {
    color: #888;
}
.banner-links a:hover  {
    background: #888;
    color: black;
    border-radius: 5px;
    transition: all 0.2s linear;
}
.banner-links a:hover > span {
color: black;
}
hr{
    height: 3px;
    background: #333;
    border: #333;
}
section {
    background: #f3f3f3FF;
}
.intro {
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.intro article{
    width: 400px;
    padding-top: 10px;
    padding: 6px;
}
.intro article ul {
    padding-left: 12px;
    list-style-type: none;
}


.project-banner {
    text-align: center;
    color:#F2F4F6;
    text-decoration: wavy;
    font-style: italic;
    font-size: 16vw;
    text-shadow: 8px 8px 10px #999;
    height: 22vw;
    background: #444;
}


footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #222;
    color: white;
    padding: 8px;
    max-height: 350px;
}

footer div  {
    width: 420px;
    display: inline
}
.something-about-me img {
    float:left;
    height: 80px;
    width: 80px;
    border: 2px solid grey;
}
footer div p {
    padding: 4px
}
footer div ul {
    margin-left: 12px;
    list-style-type: none;
    line-height: 1.6;
}




.project-display {
    display: flex;
    flex-wrap: wrap;
    padding: 6px;
}
.project {
    width: 300px;
    padding: 8px;
}
.project img {
    height: 144px;
    width: 286px;
    border: 7px solid grey
}

.knowhow{
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    justify-content: space-evenly;
}

.knowhow article {
    width: 300px
}