.currencySymbol {
    font-weight: bold;
}

.currency-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.gbp-icon {
    background: url('/public/icons/gbp.png') no-repeat center center;
    background-size: contain;
}

.usd-icon {
    background: url('/public/icons/usd.png') no-repeat center center;
    background-size: contain;
}

.eur-icon {
    background: url('/public/icons/eur.png') no-repeat center center;
    background-size: contain;
}

.jpy-icon {
    background: url('/public/icons/jpy.png') no-repeat center center;
    background-size: contain;
}

.aud-icon {
    background: url('/public/icons/aud.png') no-repeat center center;
    background-size: contain;
}

.cad-icon {
    background: url('/public/icons/cad.png') no-repeat center center;
    background-size: contain;
}